@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="h1">Bem vindo ao MVC Farm </p>
    <p class="h2">Análise e Desenvolvimento de Sistemas - UNIP 2024</p>
    <p class="h3">Disciplia: DSI - Prof. Breno Oliveira.</p>

</div>